option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:process:default:
    Port: 8081
    HealthCheckPath: /health
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    ENV: "production"
    PORT: "8081"
    POSTGRES_HOST: "database-1.c56yuuym0960.us-east-1.rds.amazonaws.com"
    POSTGRES_PORT: "5432"
    POSTGRES_DB: "storefront"
    POSTGRES_USER: "postgres"
    JWT_SECRET: "very-long-and-secure-secret-key"
    BCRYPT_PASSWORD: "very-long-and-secure-bcrypt-value"
    SALT_ROUNDS: "10"